[Desktop Entry]
Version=1.0
Name=bike-mon
Comment=Display Bike Speed and Cadence
Exec=bike_sensors
Terminal=true
X-MultipleArgs=false
Type=Application
Icon=wheel
Categories=Utility;
StartupNotify=true

